/* mixins */
/* reset */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important; }

img {
  max-width: 100%; }

/* variables */
/* extend */
.dao-info a, .contacts .form__link, .subs-form a {
  color: #D40D26; }
  .dao-info a:visited, .contacts .form__link:visited, .subs-form a:visited {
    color: #636fdc; }

.container-fluid::after, .container::after, .row::after, .entervision .entervision__container::after, .milestones .milestones__timeline::after, .footer .footer__container::after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.hero .hero__text .hero__buttons .btn, .whitepaper .whitepaper__text .whitepaper__buttons .btn, .contacts .form__field .form__btn, .subs-form .subs-form__button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #D40D26;
  box-shadow: 0 0 20px #e4112a88;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.07em;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .hero .hero__text .hero__buttons .btn:hover, .whitepaper .whitepaper__text .whitepaper__buttons .btn:hover, .contacts .form__field .form__btn:hover, .subs-form .subs-form__button:hover {
    box-shadow: 0 0 20px #e4112aff; }

.hero .hero__text .hero__buttons .btn-inverse {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  padding: 15px 35px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.07em;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .hero .hero__text .hero__buttons .btn-inverse:hover {
    opacity: 0.7; }

.whitepaper .whitepaper__text .whitepaper__buttons .btn-white, .floating-box .floating-box__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 30px;
  padding: 15px 35px;
  color: #D40D26;
  font-size: 14px;
  letter-spacing: 0.07em;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 20px #fff0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .whitepaper .whitepaper__text .whitepaper__buttons .btn-white:hover, .floating-box .floating-box__link:hover {
    box-shadow: 0 0 12px #fff8; }

.container-fluid, .container, .hero .hero__text, .whitepaper .whitepaper__text, .distribution .distribution__left, .distribution .distribution__right, .entervision .entervision__left, .entervision .entervision__right, .milestones .milestones__goal-wrap, .footer .footer__container, .footer .footer__left, .footer .footer__right {
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .container-fluid, .container, .hero .hero__text, .whitepaper .whitepaper__text, .distribution .distribution__left, .distribution .distribution__right, .entervision .entervision__left, .entervision .entervision__right, .milestones .milestones__goal-wrap, .footer .footer__container, .footer .footer__left, .footer .footer__right {
      padding-left: 20px;
      padding-right: 20px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

@font-face {
  font-family: 'TransatBold';
  src: url("../fonts/TransatBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TransatBold.otf") format("opentype"), url("../fonts/TransatBold.woff") format("woff"), url("../fonts/TransatBold.ttf") format("truetype"), url("../fonts/TransatBold.svg#TransatBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  color: #251F31;
  position: relative; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

h1 {
  font-family: 'TransatBold';
  line-height: 1.1em; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.accent-color {
  color: #D40D26; }

.hidden {
  display: none; }
  @media (max-width: 767px) {
    .hidden-mobile {
      display: none; } }
  @media (min-width: 768px) {
    .hidden-desktop {
      display: none; } }

.lowercase {
  text-transform: lowercase; }

.grain {
  position: relative;
  z-index: 1; }

.grain::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
  animation: grain 3s steps(10, end) infinite;
  background-image: url("../images/noise.png"), url("../images/noise.png");
  background-size: 360px 370px;
  background-position: 0 0, 0 0; }

@keyframes grain {
  0% {
    background-position: 0 0, -10px -230px; }
  10% {
    background-position: -10px -230px, 30px 190px; }
  20% {
    background-position: 30px 190px, -50px -170px; }
  30% {
    background-position: -50px -170px, 70px 130px; }
  40% {
    background-position: 70px 130px, -90px -110px; }
  50% {
    background-position: -90px -110px, 110px 90px; }
  60% {
    background-position: 110px 90px, -130px -70px; }
  70% {
    background-position: -130px -70px, 170px 50px; }
  80% {
    background-position: 170px 50px, -190px -30px; }
  90% {
    background-position: -190px -30px, 230px 10px; }
  100% {
    background-position: 230px 10px, 0 0; } }

/* MARQUEE */
.marquee {
  font-family: sans-serif, 'Press Start 2P';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: bold;
  background: #232776;
  padding: .2em 0;
  margin: 4px 0;
  color: #29cac8;
  box-shadow: 2px 2px 10px #232776;
  overflow: hidden;
  position: relative;
  animation: text-line-glow 2s linear infinite; }
  .marquee:before {
    content: '';
    position: absolute;
    display: block;
    background-image: repeating-linear-gradient(0deg, #23277600, #23277600 1px, #040a2444 1px, #040a2444 3px), repeating-linear-gradient(90deg, #23277600, #23277600 2px, #040a2444 2px, #040a2444 3px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .marquee:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 3px;
    animation: line-glow 3.5s linear infinite;
    animation-timing-function: steps(50); }

@keyframes text-line-glow {
  0% {
    text-shadow: 0px 0px 0px #29cac8; }
  50% {
    text-shadow: 0px 0px 4px #29cac8; } }

@keyframes line-glow {
  0% {
    right: -2%;
    background-color: #29cac8;
    box-shadow: 0 0 20px #ffd2fe00; }
  50% {
    right: 102%;
    background-color: #29cac8;
    box-shadow: 0 0 30px #ffd2feff; } }

/* HEADER */
.header {
  padding: 2px 0;
  background-color: #010B2B90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }
  .header .header__logo {
    display: block;
    padding: 15px 0;
    float: left; }
    .header .header__logo .header__logo-image {
      display: block;
      width: 163px;
      height: 42px; }
  @media (max-width: 767px) {
    .header {
      background-color: #010B2B; } }

.menu {
  float: right;
  padding-top: 17px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .menu .menu__item {
    list-style: none;
    float: left;
    margin-left: 30px;
    padding-bottom: 12px; }
    .menu .menu__item .menu__link {
      display: block;
      padding: 3px 10px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      font-family: 'TransatBold';
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      transition: 0.2s; }
      .menu .menu__item .menu__link .menu__link-icon {
        fill: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 3px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
      .menu .menu__item .menu__link:hover {
        color: #D40D26; }
        .menu .menu__item .menu__link:hover .menu__link-icon {
          fill: #D40D26; }
      @media (max-width: 767px) {
        .menu .menu__item .menu__link {
          font-size: 16px;
          display: inline-block; } }
    .menu .menu__item.menu__dropdown {
      position: relative; }
      .menu .menu__item.menu__dropdown .menu__link::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        border-top: 5px solid #fff;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
      .menu .menu__item.menu__dropdown .menu__link:hover::after {
        border-top: 5px solid #D40D26; }
      .menu .menu__item.menu__dropdown .menu__dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        background-color: #19264B;
        padding: 4px 0;
        border-radius: 8px;
        left: 50%;
        width: 94px;
        margin-left: -47px;
        list-style: none; }
        .menu .menu__item.menu__dropdown .menu__dropdown-menu .menu__dropdown-item .menu__dropdown-link {
          display: block;
          text-align: center;
          color: #fff;
          text-decoration: none;
          padding: 3px 4px;
          font-family: 'TransatBold';
          font-size: 16px; }
          .menu .menu__item.menu__dropdown .menu__dropdown-menu .menu__dropdown-item .menu__dropdown-link:hover {
            color: #fff9; }
        .menu .menu__item.menu__dropdown .menu__dropdown-menu .menu__dropdown-item + .menu__dropdown-item {
          border-top: 1px solid #ffffff1a; }
        @media (max-width: 991px) {
          .menu .menu__item.menu__dropdown .menu__dropdown-menu {
            position: static;
            margin: 0px 10px;
            width: auto; } }
      .menu .menu__item.menu__dropdown:hover .menu__dropdown-menu {
        display: block; }
    .menu .menu__item.menu__language .menu__link {
      background: #D40D26;
      box-shadow: 0 0 20px #e4112a;
      border-radius: 30px;
      min-width: 84px; }
      .menu .menu__item.menu__language .menu__link:hover {
        color: #fff; }
    @media (max-width: 991px) {
      .menu .menu__item {
        margin-left: 8px; } }
    @media (max-width: 767px) {
      .menu .menu__item {
        float: none;
        margin: 0; } }
  @media (max-width: 767px) {
    .menu {
      position: absolute;
      right: 0;
      left: 0;
      top: 100%;
      background-color: #010B2B;
      padding: 15px;
      transform: translateX(100%);
      opacity: 0; } }
  @media (max-width: 767px) {
    .menu.opened {
      transform: translateX(0%);
      opacity: 1; } }

/* mobile menu toggle */
.menu-btn {
  display: none;
  height: 35px;
  width: 50px;
  padding: 0 5px;
  position: absolute;
  right: 20px;
  top: 29px;
  cursor: pointer;
  z-index: 3; }
  .menu-btn .menu-btn__line {
    height: 3px;
    right: 5px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .menu-btn .menu-btn__line--1 {
    transform: rotate(0deg);
    width: 30px;
    top: 5px; }
  .menu-btn .menu-btn__line--2 {
    top: 15px;
    width: 22px; }
  .menu-btn .menu-btn__line--3 {
    transform: rotate(0deg);
    width: 14px;
    top: 25px; }
  @media (max-width: 767px) {
    .menu-btn {
      display: block; } }

.opened-menu .menu-btn__line--1 {
  transform: rotate(-45deg);
  width: 30px;
  top: 12px; }

.opened-menu .menu-btn__line--2 {
  width: 0px;
  right: 20px;
  opacity: 0; }

.opened-menu .menu-btn__line--3 {
  transform: rotate(45deg);
  width: 30px;
  top: 12px; }

.hero {
  padding: 72px 0 64px;
  color: #fff;
  position: relative;
  z-index: 3;
  background-color: #010B2B; }
  .hero .hero__text {
    width: 50%;
    padding-top: 50px;
    float: left; }
    .hero .hero__text .hero__title {
      font-size: 60px;
      line-height: 1.18em;
      letter-spacing: 0.02em;
      margin-bottom: 39px; }
      @media (max-width: 767px) {
        .hero .hero__text .hero__title {
          font-size: 32px;
          margin-bottom: 22px; } }
    .hero .hero__text .hero__description {
      max-width: 490px;
      margin-bottom: 55px; }
      @media (max-width: 767px) {
        .hero .hero__text .hero__description {
          line-height: 1.8em;
          font-size: 14px;
          margin-bottom: 40px; } }
    .hero .hero__text .hero__buttons .btn {
      margin: 0 10px 10px 0; }
      @media (max-width: 767px) {
        .hero .hero__text .hero__buttons .btn {
          width: 100%;
          margin: 0 0 15px; } }
    @media (max-width: 767px) {
      .hero .hero__text .hero__buttons .btn-inverse {
        width: 100%; } }
    @media (max-width: 767px) {
      .hero .hero__text {
        padding-top: 50px;
        width: 100%;
        float: none; } }
  .hero .hero__image {
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 40%;
    background-image: url("../images/hero-image.png"), radial-gradient(circle, #081d5e 10%, #010b2b 70%);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .hero .hero__image {
        position: static;
        width: 100%;
        height: 103vw;
        background-size: 120%;
        background-position: 64% top; } }
  @media (max-width: 767px) {
    .hero {
      padding-bottom: 0;
      overflow: hidden; } }

/* mission */
.mission {
  text-align: center;
  padding: 90px 0 67px;
  font-size: 18px;
  background-color: #ffffff; }
  .mission .mission__titile {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .mission .mission__titile {
        font-size: 35px; } }
  .mission .mission__description {
    max-width: 1080px;
    margin: 0 auto 67px;
    line-height: 1.9em;
    font-size: 17px; }
    @media (max-width: 767px) {
      .mission .mission__description {
        margin: 0 auto 44px;
        line-height: 1.7em;
        font-size: 14px; } }
  .mission .mission__image {
    max-width: 820px;
    width: 100%; }
  @media (max-width: 767px) {
    .mission {
      padding: 98px 0 78px;
      font-size: 14px; } }

/* whitepaper */
.whitepaper {
  background-color: #010B2B;
  color: #fff;
  padding: 120px 0;
  font-size: 18px;
  font-weight: 300;
  background-image: url("../images/bg-whitepaper.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 1;
  position: relative;
  box-shadow: inset 0 -15px 15px -15px #7581FC; }
  .whitepaper .whitepaper__text {
    max-width: 940px;
    margin: 0 auto; }
    .whitepaper .whitepaper__text .whitepaper__title {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 0.04em;
      margin-bottom: 45px; }
      @media (max-width: 767px) {
        .whitepaper .whitepaper__text .whitepaper__title {
          font-size: 35px;
          margin-bottom: 36px; } }
    .whitepaper .whitepaper__text .whitepaper__description {
      margin: 0 auto 42px;
      line-height: 1.8em; }
      @media (max-width: 767px) {
        .whitepaper .whitepaper__text .whitepaper__description {
          margin: 0 auto 35px; } }
    .whitepaper .whitepaper__text .whitepaper__buttons .btn {
      margin-right: 10px;
      padding: 13px 44px; }
      @media (max-width: 767px) {
        .whitepaper .whitepaper__text .whitepaper__buttons .btn {
          padding: 13px 26px;
          margin: 0 4px;
          margin: 0 4px 10px; } }
    .whitepaper .whitepaper__text .whitepaper__buttons .btn-white {
      padding: 13px 44px; }
      @media (max-width: 767px) {
        .whitepaper .whitepaper__text .whitepaper__buttons .btn-white {
          padding: 13px 26px;
          margin: 0 4px 10px; } }
    @media (max-width: 767px) {
      .whitepaper .whitepaper__text {
        padding-top: 0; } }
  @media (max-width: 767px) {
    .whitepaper {
      padding: 78px 0;
      font-size: 14px;
      text-align: center;
      background-size: auto; } }

@keyframes lines {
  0% {
    transform: translateY(0) scaleY(0.5);
    opacity: 1; }
  100% {
    transform: translateY(210px) scaleY(1);
    opacity: 0; } }

/*Distribution */
.distribution {
  background-color: #010B2B;
  background-image: url("../images/bg-grid-lines.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 51px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  box-shadow: inset 0 7px 5px -5px #7581FC; }
  .distribution .lines {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    height: 210px; }
    .distribution .lines .line {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      opacity: 1;
      background-color: #5b5a98;
      animation: lines 12s ease-in;
      animation-iteration-count: infinite; }
    .distribution .lines .line2 {
      animation-delay: 1s; }
    .distribution .lines .line3 {
      animation-delay: 2s; }
    .distribution .lines .line4 {
      animation-delay: 3s; }
    .distribution .lines .line5 {
      animation-delay: 4s; }
    .distribution .lines .line6 {
      animation-delay: 5s; }
    .distribution .lines .line7 {
      animation-delay: 6s; }
    .distribution .lines .line8 {
      animation-delay: 7s; }
    .distribution .lines .line9 {
      animation-delay: 8s; }
    .distribution .lines .line10 {
      animation-delay: 9s; }
    .distribution .lines .line11 {
      animation-delay: 10s; }
    .distribution .lines .line12 {
      animation-delay: 11s; }
  .distribution .distribution__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 40px 0 30px;
    line-height: 1.2em; }
    @media (max-width: 767px) {
      .distribution .distribution__title {
        font-size: 30px;
        max-width: 320px;
        margin: 25px auto; } }
  .distribution .distribution__left {
    width: 50%;
    position: relative;
    z-index: 1;
    float: left;
    text-align: center; }
    .distribution .distribution__left .distribution__image {
      animation: red-glow 4s ease-in-out;
      animation-iteration-count: infinite; }
      @media (max-width: 767px) {
        .distribution .distribution__left .distribution__image {
          max-width: 100%; } }
      .distribution .distribution__left .distribution__image--lines {
        position: absolute;
        max-width: calc(100% - 30px);
        z-index: -1;
        top: 0;
        left: 15px;
        right: 15px;
        animation: red-glow2 4s ease-in-out;
        animation-delay: 2s;
        animation-iteration-count: infinite; }
        @media (max-width: 767px) {
          .distribution .distribution__left .distribution__image--lines {
            left: calc(10% + 15px);
            right: calc(10% + 15px);
            max-width: calc(80% - 30px); } }
    @media (max-width: 767px) {
      .distribution .distribution__left {
        width: 100%;
        float: none; } }
  .distribution .distribution__right {
    width: 50%;
    float: left; }
    @media (max-width: 767px) {
      .distribution .distribution__right {
        width: 100%;
        float: none;
        text-align: center; } }
  @media (max-width: 1920px) {
    .distribution {
      background-size: auto 210px; } }
  @media (max-width: 767px) {
    .distribution {
      padding: 80px 0;
      font-size: 15px;
      line-height: 1.6em; } }

@keyframes red-glow {
  0% {
    -webkit-filter: drop-shadow(0px 0px 5px #fb223d22);
    filter: drop-shadow(0px 0px 5px #fb223d22); }
  50% {
    -webkit-filter: drop-shadow(0px 0px 8px #fb223d);
    filter: drop-shadow(0px 0px 8px #fb223d); }
  100% {
    -webkit-filter: drop-shadow(0px 0px 5px #fb223d22);
    filter: drop-shadow(0px 0px 5px #fb223d22); } }

@keyframes red-glow2 {
  0% {
    -webkit-filter: drop-shadow(0px 0px 3px #fb223d22);
    filter: drop-shadow(0px 0px 3px #fb223d22); }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px #fb223d);
    filter: drop-shadow(0px 0px 5px #fb223d); }
  100% {
    -webkit-filter: drop-shadow(0px 0px 3px #fb223d22);
    filter: drop-shadow(0px 0px 3px #fb223d22); } }

/* videos */
.videos {
  padding: 109px 0 86px; }
  .videos .videos__title {
    font-size: 50px;
    margin-bottom: 70px;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-align: center; }
    @media (max-width: 767px) {
      .videos .videos__title {
        font-size: 35px;
        margin-bottom: 63px; } }
  .videos .videos__carousel {
    position: relative; }
    .videos .videos__carousel .videos__item .videos__image {
      display: block;
      position: relative;
      margin-bottom: 30px; }
      .videos .videos__carousel .videos__item .videos__image .videos__iframe {
        width: 100%;
        height: 235px; }
    .videos .videos__carousel .videos__item .videos__header {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.46em;
      margin-bottom: 19px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      @media (max-width: 767px) {
        .videos .videos__carousel .videos__item .videos__header {
          font-size: 18px; } }
    .videos .videos__carousel .videos__item .videos__description {
      line-height: 1.8em; }
      @media (max-width: 767px) {
        .videos .videos__carousel .videos__item .videos__description {
          font-size: 12px; } }
    .videos .videos__carousel .owl-next {
      position: absolute;
      top: 106px;
      left: 103.5%; }
      .videos .videos__carousel .owl-next span {
        display: block;
        font-size: 0;
        width: 32px;
        height: 32px;
        border-right: 4px solid #222;
        border-top: 4px solid #222;
        transform: rotate(45deg); }
      @media (max-width: 1400px) {
        .videos .videos__carousel .owl-next {
          top: -90px;
          left: auto;
          right: 6px; } }
    .videos .videos__carousel .owl-prev {
      position: absolute;
      top: 106px;
      right: 103.5%; }
      .videos .videos__carousel .owl-prev span {
        display: block;
        font-size: 0;
        width: 32px;
        height: 32px;
        border-left: 4px solid #222;
        border-bottom: 4px solid #222;
        transform: rotate(45deg); }
      @media (max-width: 1400px) {
        .videos .videos__carousel .owl-prev {
          top: -90px;
          right: auto;
          left: 6px; } }
  @media (max-width: 767px) {
    .videos {
      padding: 80px 0;
      text-align: center; } }

/* dao info */
.dao-info {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-weight: 300;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #010B2B;
  background-image: linear-gradient(0deg, #081d5e 0%, #010b2b 100%);
  box-shadow: inset 0 -15px 15px -15px #7581FC; }
  .dao-info .dao-info__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 33px;
    line-height: 1em; }
    @media (max-width: 767px) {
      .dao-info .dao-info__title {
        font-size: 35px; } }
  .dao-info .dao-info__subtitle {
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 36px; }
  .dao-info .dao-info__text {
    max-width: 990px;
    margin: 0 auto;
    font-size: 18px; }
    @media (max-width: 767px) {
      .dao-info .dao-info__text {
        font-size: 14px; } }
  @media (max-width: 767px) {
    .dao-info {
      padding-top: 80px; } }

/* dao statistics*/
.dao {
  padding: 92px 0;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #010B2B;
  background-image: url("../images/bg-dao.png");
  box-shadow: inset 0 5px 3px -3px #7581FC; }
  .dao .dao__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 80px; }
    @media (max-width: 767px) {
      .dao .dao__title {
        font-size: 35px;
        margin-bottom: 50px; } }
  .dao .dao__sub-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 30px 0; }
    @media (max-width: 767px) {
      .dao .dao__sub-title {
        font-size: 28px;
        margin-bottom: 25px; } }
  .dao .dao__treasury .dao__treasury-item {
    width: 500px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 25px; }
    .dao .dao__treasury .dao__treasury-item .dao__treasury-icon-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 124px;
      height: 124px;
      line-height: 96px;
      margin: 0 auto 30px;
      box-shadow: 2px 2px 10px #D40D26;
      border-radius: 50%;
      text-align: center; }
    .dao .dao__treasury .dao__treasury-item .dao__treasury-text {
      display: inline-block;
      width: 200px;
      max-width: 100%; }
      .dao .dao__treasury .dao__treasury-item .dao__treasury-text .dao__treasury-header {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.04em; }
        @media (max-width: 767px) {
          .dao .dao__treasury .dao__treasury-item .dao__treasury-text .dao__treasury-header {
            margin-bottom: 20px;
            font-size: 15px; } }
      .dao .dao__treasury .dao__treasury-item .dao__treasury-text .dao__counter {
        font-size: 32px; }
        @media (max-width: 767px) {
          .dao .dao__treasury .dao__treasury-item .dao__treasury-text .dao__counter {
            font-size: 28px; } }
  .dao .dao__item {
    width: 370px;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin-bottom: 12px; }
    .dao .dao__item .dao__icon-wrap {
      width: 124px;
      height: 124px;
      line-height: 96px;
      margin: 0 auto 30px;
      box-shadow: 2px 2px 10px #D40D26;
      border-radius: 50%;
      text-align: center; }
      .dao .dao__item .dao__icon-wrap .dao__icon {
        max-width: 100%;
        vertical-align: middle; }
        @media (max-width: 767px) {
          .dao .dao__item .dao__icon-wrap .dao__icon {
            height: 76px; } }
      @media (max-width: 767px) {
        .dao .dao__item .dao__icon-wrap {
          width: 100px;
          height: 100px;
          line-height: 100px;
          margin: 0 auto 48px;
          box-shadow: 0 0 0 8px #D40D2633, 0 0 0 16px #D40D2633; } }
    .dao .dao__item .dao__item-header {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.04em; }
      @media (max-width: 767px) {
        .dao .dao__item .dao__item-header {
          margin-bottom: 20px;
          font-size: 15px; } }
    .dao .dao__item .dao__counter {
      font-size: 32px; }
      @media (max-width: 767px) {
        .dao .dao__item .dao__counter {
          font-size: 28px; } }
    @media (max-width: 767px) {
      .dao .dao__item {
        width: 46%;
        min-width: 150px;
        padding: 10px;
        margin-bottom: 77px; } }
  @media (max-width: 767px) {
    .dao {
      padding: 99px 0 18px;
      text-align: center; } }

.calls {
  padding: 107px 0 65px;
  text-align: center; }
  .calls .calls__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 42px; }
    @media (max-width: 767px) {
      .calls .calls__title {
        font-size: 35px;
        line-height: 1.3em;
        margin-bottom: 15px; } }
  .calls .calls__description {
    font-size: 18px;
    max-width: 920px;
    margin: 0 auto 60px;
    line-height: 1.8em; }
  .calls a {
    color: #0084FF; }
  .calls .calls__table {
    box-shadow: 0 8px 15px #0002;
    margin-bottom: 57px; }
    .calls .calls__table .calls__table-frame {
      width: 100%;
      height: 650px;
      display: block; }
  .calls .calls__btn {
    display: inline-block;
    background-color: #000;
    border-radius: 11px; }
    .calls .calls__btn .calls__btn-img {
      width: 187px;
      height: 55px;
      display: block; }
  @media (max-width: 767px) {
    .calls {
      padding: 83px 0 50px; } }

/* entervision */
.entervision {
  padding: 70px 0 35px; }
  .entervision .entervision__container {
    max-width: 1790px;
    margin: 0 auto; }
  .entervision .entervision__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 65px;
    text-align: center; }
    @media (max-width: 767px) {
      .entervision .entervision__title {
        font-size: 35px; } }
  .entervision .entervision__left {
    width: 50%;
    float: left; }
    @media (max-width: 767px) {
      .entervision .entervision__left {
        width: 100%;
        float: none; } }
  .entervision .entervision__right {
    width: 50%;
    float: left; }
    @media (max-width: 767px) {
      .entervision .entervision__right {
        width: 100%;
        float: none; } }
  .entervision .entervision__item {
    padding: 45px 60px 30px;
    line-height: 1.85em;
    box-shadow: 0 10px 40px #0000002e;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    background-color: #010B2B;
    background: radial-gradient(circle, #031347 0%, #010B2B 100%); }
    .entervision .entervision__item .entervision__subheader {
      color: #f5243d;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 16px; }
      @media (max-width: 767px) {
        .entervision .entervision__item .entervision__subheader {
          font-size: 20px; } }
    .entervision .entervision__item .entervision__image {
      margin-top: 30px; }
    .entervision .entervision__item p {
      min-height: 7em; }
      @media (max-width: 1500px) {
        .entervision .entervision__item p {
          min-height: 9.1em; } }
      @media (max-width: 1300px) {
        .entervision .entervision__item p {
          min-height: 11em; } }
      @media (max-width: 1120px) {
        .entervision .entervision__item p {
          min-height: 13em; } }
      @media (max-width: 767px) {
        .entervision .entervision__item p {
          min-height: 0; } }
    @media (max-width: 767px) {
      .entervision .entervision__item {
        text-align: center;
        padding: 45px 25px 20px; } }
  @media (max-width: 767px) {
    .entervision {
      padding: 80px 0; } }

/* milestones */
.milestones {
  background-color: #010B2B;
  background-image: url("../images/bg-timeline.png"), radial-gradient(circle, #081d5e 0%, #010b2b 100%);
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding: 107px 0 80px;
  position: relative;
  z-index: 1; }
  .milestones .milestones__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 95px;
    letter-spacing: 0.04em; }
    @media (max-width: 767px) {
      .milestones .milestones__title {
        font-size: 35px; } }
  .milestones .milestones__timeline {
    position: relative;
    padding: 1px 0 30px; }
    .milestones .milestones__timeline::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      top: 215px;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      background-color: #D40D26; }
      @media (max-width: 767px) {
        .milestones .milestones__timeline::before {
          top: 20px;
          width: 4px;
          margin-left: -2px; } }
    .milestones .milestones__timeline .milestones__item {
      position: relative;
      z-index: 1;
      padding: 45px 50px;
      width: 40%;
      line-height: 1.75em;
      position: relative;
      margin-bottom: 80px;
      float: left;
      box-shadow: 0 10px 40px #0000002e, inset 0 0 2px #fff6; }
      .milestones .milestones__timeline .milestones__item .milestones__icon {
        margin-bottom: 5px; }
      .milestones .milestones__timeline .milestones__item .milestones__header {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0em;
        margin-bottom: 18px;
        line-height: 1.2em;
        font-family: 'TransatBold'; }
        .milestones .milestones__timeline .milestones__item .milestones__header::before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          filter: blur(8px);
          -webkit-filter: blur(8px);
          background-color: #fff4;
          opacity: 1;
          background-image: url("../images/bg-timeline.png"), radial-gradient(circle, #081d5e 0%, #010b2b 100%);
          background-position: top right;
          background-repeat: no-repeat;
          background-attachment: fixed; }
        .milestones .milestones__timeline .milestones__item .milestones__header .accent-color {
          font-size: 14px;
          line-height: .4em; }
        @media (max-width: 767px) {
          .milestones .milestones__timeline .milestones__item .milestones__header {
            font-size: 22px;
            letter-spacing: 0.03em; } }
      .milestones .milestones__timeline .milestones__item.milestones__item--left::before {
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 2px;
        top: 50%;
        bottom: 0;
        left: 100%;
        background-color: #D40D26; }
        @media (max-width: 767px) {
          .milestones .milestones__timeline .milestones__item.milestones__item--left::before {
            display: none; } }
      .milestones .milestones__timeline .milestones__item.milestones__item--left::after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 125%;
        margin-top: -10px;
        margin-left: -10px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 40px #fff; }
        @media (max-width: 767px) {
          .milestones .milestones__timeline .milestones__item.milestones__item--left::after {
            display: none; } }
      .milestones .milestones__timeline .milestones__item.milestones__item--right {
        float: right; }
        .milestones .milestones__timeline .milestones__item.milestones__item--right::before {
          content: '';
          display: block;
          position: absolute;
          width: 25%;
          height: 2px;
          top: 50%;
          bottom: 0;
          right: 100%;
          background-color: #D40D26; }
          @media (max-width: 767px) {
            .milestones .milestones__timeline .milestones__item.milestones__item--right::before {
              display: none; } }
        .milestones .milestones__timeline .milestones__item.milestones__item--right::after {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          right: 125%;
          margin-top: -10px;
          margin-right: -10px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 40px #fff; }
          @media (max-width: 767px) {
            .milestones .milestones__timeline .milestones__item.milestones__item--right::after {
              display: none; } }
      .milestones .milestones__timeline .milestones__item.milestones__item--top-margin {
        margin-top: 200px; }
      .milestones .milestones__timeline .milestones__item:last-child {
        margin-bottom: 0; }
      @media (max-width: 767px) {
        .milestones .milestones__timeline .milestones__item {
          width: 100%;
          float: none !important;
          margin-top: 0 !important;
          padding: 35px;
          margin-bottom: 30px; } }
  .milestones .milestones__goal-wrap {
    text-align: center;
    width: 30%;
    float: right;
    margin-right: 35%; }
    .milestones .milestones__goal-wrap .milestones__goal {
      width: 110px;
      height: 110px;
      background-color: #D40D26;
      box-shadow: 0 0 20px #D40D26;
      border-radius: 50%;
      font-weight: bold;
      padding: 38px 20px;
      line-height: 1.2em;
      font-size: 18px;
      text-align: center;
      margin: 0 auto; }
    @media (max-width: 767px) {
      .milestones .milestones__goal-wrap {
        width: 100%;
        float: none;
        margin: 0 0 30px; } }
  @media (max-width: 767px) {
    .milestones {
      padding: 90px 0 70px; } }

/* partners */
.partners {
  padding: 88px 0 76px;
  text-align: center; }
  .partners .partners__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 49px; }
    @media (max-width: 767px) {
      .partners .partners__title {
        font-size: 35px;
        margin-bottom: 25px; } }
  .partners .partners__description {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 55px;
    line-height: 1.8em; }
    @media (max-width: 767px) {
      .partners .partners__description {
        font-size: 14px; } }
  .partners .partners__link {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
    filter: grayscale(1);
    opacity: 0.5;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    .partners .partners__link:hover {
      filter: grayscale(0);
      opacity: 1; }
    @media (max-width: 767px) {
      .partners .partners__link {
        width: 80%;
        margin-bottom: 50px; } }
  .partners .partners__logo {
    max-width: 225px;
    max-height: 125px; }
  @media (max-width: 767px) {
    .partners {
      padding: 140px 0 50px; } }

/* contacts */
.contacts {
  text-align: center;
  color: #fff;
  padding: 110px 0 60px;
  font-size: 18px;
  background-color: #010B2B;
  background-image: linear-gradient(0deg, #010b2b 0%, #081d5e 100%);
  box-shadow: inset 0 -15px 15px -15px #7581FC; }
  .contacts .form__header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em; }
    @media (max-width: 767px) {
      .contacts .form__header {
        font-size: 28px;
        margin-bottom: 30px; } }
  .contacts .form__description {
    margin: 25px 0 40px;
    font-size: 15px;
    color: #918d9e;
    text-align: center; }
    @media (max-width: 767px) {
      .contacts .form__description {
        margin-bottom: 35px;
        font-size: 15px; } }
  .contacts .form__field {
    position: relative;
    max-width: 730px;
    margin: 0 auto; }
    .contacts .form__field .form__input {
      width: 100%;
      border-radius: 40px;
      border: none;
      height: 65px;
      padding: 0 230px 0 35px;
      font-size: 18px; }
      @media (max-width: 767px) {
        .contacts .form__field .form__input {
          margin-bottom: 15px;
          padding: 0 35px; } }
    .contacts .form__field .form__btn {
      width: 200px;
      text-align: center;
      border-radius: 0 40px 40px 0;
      height: 65px;
      position: absolute;
      top: 0;
      right: -1px;
      white-space: nowrap;
      padding: 10px;
      font-size: 16px;
      line-height: 45px; }
      .contacts .form__field .form__btn .form__btn-img {
        vertical-align: middle;
        margin-right: 4px; }
      @media (max-width: 767px) {
        .contacts .form__field .form__btn {
          position: static;
          width: 100%;
          border-radius: 40px; } }
  @media (max-width: 767px) {
    .contacts {
      padding: 90px 0; } }

.footer {
  color: #b3b0bb;
  padding: 75px 0 50px;
  line-height: 2em;
  font-size: 13px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #010b2b;
  background-image: url("../images/footer-image.png"), linear-gradient(49deg, #010b2b 0%, #081d5e 54%, #081d5e 64%, #010b2b 100%); }
  .footer a {
    color: #b3b0bb; }
    .footer a :visited {
      color: #b3b0bb; }
  .footer .footer__container {
    max-width: 1800px;
    margin: 0 auto; }
  .footer .footer__left {
    width: 37%;
    float: left; }
    .footer .footer__left .footer__header {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 14px;
      font-weight: 400;
      letter-spacing: 0.04em; }
    @media (max-width: 767px) {
      .footer .footer__left {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
  .footer .footer__right {
    width: 45%;
    float: right;
    text-align: right; }
    .footer .footer__right .footer__logo-link {
      cursor: pointer;
      width: 193px;
      display: inline-block;
      margin-bottom: 51px; }
      .footer .footer__right .footer__logo-link .footer__logo {
        max-width: 100%; }
      @media (max-width: 767px) {
        .footer .footer__right .footer__logo-link {
          margin-bottom: 40px; } }
    .footer .footer__right .footer__social-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 15px; }
      .footer .footer__right .footer__social-link .footer__social-icon {
        max-width: 100%; }
      @media (max-width: 767px) {
        .footer .footer__right .footer__social-link {
          margin: 0 3px 4px; } }
    @media (max-width: 767px) {
      .footer .footer__right {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 65px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 72px 0;
      background-image: linear-gradient(49deg, #010b2b 0%, #081d5e 54%, #081d5e 64%, #010b2b 100%); } }

/* floating box */
.floating-box {
  width: 196px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 11;
  color: #fff;
  background: #D40D26;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px #e4112a88; }
  .floating-box .floating-box__close {
    position: absolute;
    top: -8px;
    right: -8px;
    border: none;
    cursor: pointer;
    background: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 15px;
    font-weight: bold;
    color: #D40D26; }
  .floating-box .floating-box__header {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 15px; }
  .floating-box .floating-box__link {
    width: 100%;
    margin-bottom: 8px;
    padding: 6px 15px;
    font-size: 14px; }

/**
   * Modal FORM
   */
/* 1. Ensure this sits above everything when visible */
.modal {
  position: absolute;
  z-index: 10000;
  /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%; }
  .modal .modal__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s; }
  .modal .modal__wrapper {
    position: fixed;
    z-index: 9999;
    top: 6em;
    left: 50%;
    width: 40vw;
    margin-left: -20vw;
    background-color: #fff;
    border-radius: 14px;
    padding: 40px;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35); }
    .modal .modal__wrapper .modal__heading {
      font-size: 35px;
      line-height: 1em;
      margin-bottom: 20px;
      color: #251F31; }
    @media (max-width: 767px) {
      .modal .modal__wrapper {
        width: 90vw;
        margin-left: -45vw;
        top: 15px; } }
  .modal .modal__transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0; }
  .modal .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 18px;
    line-height: 1em;
    color: #16131d;
    background: none;
    border: 0;
    cursor: pointer; }
    .modal .modal__close:hover {
      color: #D40D26; }
  .modal.is-visible {
    visibility: visible; }
    .modal.is-visible .modal__overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s; }
    .modal.is-visible .modal__transition {
      transform: translateY(0);
      opacity: 1; }

/* VIDEO POPUP */
#video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 995;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%; }

#video-popup-container {
  display: none;
  position: fixed;
  z-index: 996;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  top: 20%;
  background-color: #fff; }
  #video-popup-container #video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 998;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    line-height: 25px;
    color: #fff; }
    #video-popup-container #video-popup-close #video-popup-close:hover {
      color: #DE0023; }
  #video-popup-container #video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 56.25%;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000; }
    #video-popup-container #video-popup-iframe-container #video-popup-iframe {
      z-index: 999;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #000; }
  @media (max-width: 767px) {
    #video-popup-container {
      width: 90%;
      margin-left: -45%; } }

/* SUBS FORM */
.subs-form {
  font-size: 16px;
  line-height: 1.4em;
  color: #7f7f7f; }
  .subs-form p {
    margin-bottom: 10px; }
  .subs-form .subs-form__fieldset {
    border: none; }
  .subs-form .subs-form__input {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 30px;
    border: 1px solid #c6c4d2;
    font-size: 18px;
    padding: 5px 24px;
    margin-bottom: 15px; }
  .subs-form .subs-form__checkbox-wrap {
    display: block;
    margin-bottom: 8px;
    font-size: 16px; }
  .subs-form .subs-form__checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom; }
  .subs-form .subs-form__button {
    margin-top: 10px; }
  @media (max-width: 767px) {
    .subs-form {
      font-size: 13px; } }
