/* extend */
%clearfix {
  &::after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }
}
%btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #D40D26;
  box-shadow: 0 0 20px #e4112a88;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.07em;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    box-shadow: 0 0 20px #e4112aff;
  }
}
%btn-inverse {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 30px;
  padding: 15px 35px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.07em;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    opacity: 0.7;
  }
}

%btn-white {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 30px;
  padding: 15px 35px;
  color: #D40D26;
  font-size: 14px;
  letter-spacing: 0.07em;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 20px #fff0;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    box-shadow: 0 0 12px #fff8;
  }
}
%column__padding {
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
%row__margin {
  margin-left: -15px;
  margin-right: -15px;
}
