@import 'mixin', 'reset', 'variables', 'extend', 'typography';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  color: $primary-color;

  /*&.opened-menu {
    overflow: hidden;
  }*/
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.container {
  @extend %column__padding;
  @extend %clearfix;
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  @extend %row__margin;
  @extend %clearfix;
}
.accent-color {
  color: $accent-color;
}
.hidden {
  display: none;
}

.header {
  padding: 10px 0;
  background-color: #16131C;
  position: relative;

  .header__logo {
    display: block;
    padding: 15px 0;
    float: left;

    .header__logo-image {
      display: block;
      width: 163px;
      height: 42px;
    }
  }
}

.menu {
  float: right;
  padding-top: 17px;
  font-weight: 300;
  @include transition(.2s);

  .menu__item {
    list-style: none;
    float: left;
    margin-left: 30px;
    padding-bottom: 12px;

    .menu__link {
      display: block;
      padding: 3px 10px;
      color: $white-color;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      @include transition(.2s);

      .menu__link-icon {
        fill: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 3px;
        @include transition(.2s);
      }

      &:hover {
        color: $accent-color;

        .menu__link-icon {
          fill: $accent-color;
        }
      }

      @media (max-width: 767px) {
        font-size: 18px;
        display: inline-block;
      }
    }
    &.menu__dropdown {
      position: relative;

      .menu__link {

        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          border-top: 5px solid #fff;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          @include transition(.2s);
        }
        &:hover {

          &::after {
            border-top: 5px solid $accent-color;
          }
        }

      }
      .menu__dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        background: #363046;
        padding: 4px 0;
        border-radius: 8px;
        left: 50%;
        width: 94px;
        margin-left: -47px;
        list-style: none;

        .menu__dropdown-item {

          .menu__dropdown-link {
            display: block;
            text-align: center;
            color: #fff;
            text-decoration: none;
            padding: 3px 4px;

            &:hover {
              color: $accent-color;
            }
            @media (max-width: 991px) {
              font-size: 16px;
            }
          }

          + .menu__dropdown-item {
            border-top: 1px solid #ffffff1a;
          }
        }
        @media (max-width: 991px) {
          position: static;
          margin: 0px 10px;
        }
      }

      &:hover {
        .menu__dropdown-menu {
          display: block;
        }
      }
    }
    &.menu__language {

      .menu__link {
        background: #D40D26;
        box-shadow: 0 0 20px #e4112a;
        border-radius: 30px;
        min-width: 84px;

        &:hover {
          color: #fff;
        }
      }
    }
    @media (max-width: 991px) {
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      float: none;
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background-color: #1F1A27;
    padding: 15px;
    transform: translateX(100%);
    opacity: 0;
  }
  &.opened {
    @media (max-width: 767px) {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
/* mobile menu toggle */
.menu-btn {
   display: none;
   height: 35px;
   width: 50px;
   padding: 0 5px;
   position: absolute;
   right: 20px;
   top: 29px;
   cursor: pointer;
   z-index: 3;

  .menu-btn__line {
     height: 3px;
     right: 5px;
     background-color: #fff;
     position: absolute;
     @include transition(.2s);
  }
  .menu-btn__line--1 {
    transform: rotate(0deg);
    width: 30px;
    top: 5px;
  }
  .menu-btn__line--2 {
    top: 15px;
    width: 22px;
  }
  .menu-btn__line--3 {
    transform: rotate(0deg);
    width: 14px;
    top: 25px;
  }

  @media (max-width: 767px) {
    display: block;
  }
}
.opened-menu {

  .menu-btn__line--1 {
     transform: rotate(-45deg);
     width: 30px;
    top: 12px;
  }
  .menu-btn__line--2 {
     width: 0px;
     right: 20px;
     opacity: 0
  }
  .menu-btn__line--3 {
     transform: rotate(45deg);
     width: 30px;
     top: 12px;
  }
}


.hero {
  background-color: #2D273B;
  background-image: url('../images/bg-hero.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  padding: 64px 0 169px;
  color: #fff;

  .hero__text {
    width: 50%;
    padding-top: 80px;
    float: left;
    @extend %column__padding;

    .hero__title {
      font-size: 60px;
      line-height: 1.18em;
      letter-spacing: 0.02em;
      margin-bottom: 39px;

      @media (max-width: 767px) {
        font-size: 45px;
        margin-bottom: 22px;
      }
    }
    .hero__description {
      max-width: 490px;
      margin-bottom: 55px;

      @media (max-width: 767px) {
        line-height: 1.8em;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
    .hero__buttons {

      .btn {
        @extend %btn;
        margin: 0 10px 10px 0;

        @media (max-width: 767px) {
          width: 100%;
          margin: 0 0 30px;
        }
      }
      .btn-inverse {
        @extend %btn-inverse;

        @media (max-width: 767px) {
          width: 100%;
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      padding-top: 30px;
      width: 100%;
      float: none;
    }
  }
  .hero__image {
    width: 50%;
    float: left;
    text-align: center;
    @extend %column__padding;

    .hero__image-img {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding: 45px 0;
  }
}

/* mission */
.mission {
  text-align: center;
  padding: 178px 0 197px;
  font-size: 18px;

  .mission__titile {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 35px;
    }
  }
  .mission__description {
    max-width: 920px;
    margin: 0 auto 104px;
    line-height: 1.8em;

    @media (max-width: 767px) {
      margin: 0 auto 44px;
    }
  }

  @media (max-width: 767px) {
    padding: 98px 0 78px;
    font-size: 14px;
  }
}

/* whitepaper */
.whitepaper {
  background-color: #251F31;
  color: #fff;
  padding: 150px 0;
  font-size: 18px;
  font-weight: 300;
  background-image: url(../images/hero-image.png);
  background-position: right center;
  background-size: 30% auto;
  background-repeat: no-repeat;
  text-align: center;

  .whitepaper__text {
    @extend %column__padding;
    max-width: 745px;
    margin: 0 auto;

    .whitepaper__title {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 0.04em;
      margin-bottom: 45px;

      @media (max-width: 767px) {
        font-size: 35px;
        margin-bottom: 36px;
      }
    }
    .whitepaper__description {
      margin: 0 auto 50px;
      line-height: 1.8em;
      @media (max-width: 767px) {
        margin: 0 auto 35px;
      }
    }
    .whitepaper__buttons {

      .btn {
        @extend %btn;
        margin-right: 10px;
        padding: 13px 44px;

        @media (max-width: 767px) {
          padding: 13px 30px;
          margin: 0 4px;
          margin: 0 4px 10px;
        }
      }
      .btn-white {
        @extend %btn-white;
        padding: 13px 44px;

        @media (max-width: 767px) {
          padding: 13px 30px;
          margin: 0 4px 10px;
        }
      }
    }

    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
  @media (max-width: 767px) {
    padding: 78px 0;
    font-size: 14px;
    text-align: center;
    background-size: 80% auto;
  }
}
/*Distribution */
.distribution {
  background-color: #2d273b;
  color: #fff;
  padding: 150px 0;
  font-size: 18px;
  font-weight: 300;

  .distribution__title {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 55px 0 20px;
    line-height: 1em;

    @media (max-width: 767px) {
      font-size: 30px;
      max-width: 320px;
      margin: 25px auto;
    }
  }

  .distribution__left {
    width: 50%;
    float: left;
    text-align: center;
    @extend %column__padding;

    .distribution__image {

      @media (max-width: 767px) {
        max-width: 80%;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
      float: none;
    }
  }

  .distribution__right {
    width: 50%;
    float: left;
    @extend %column__padding;

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    padding: 80px 0;
  }
}

/* videos */
.videos {
  background-image: url('../images/bg-videos.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding: 166px 0 132px;

  .videos__title {
    font-size: 50px;
    margin-bottom: 88px;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 63px;
    }
  }
  .videos__carousel {
    position: relative;

    .videos__item {

      .videos__image {
        display: block;
        position: relative;
        margin-bottom: 38px;

        .videos__iframe {
          width: 100%;
          height: 235px;
        }
      }
      .videos__header {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.46em;
        margin-bottom: 19px;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
      .videos__description {
        line-height: 1.8em;

        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
    .owl-next {
      position: absolute;
      top: 100px;
      left: 103.5%;

      span {
        display: block;
        font-size: 0;
        width: 32px;
        height: 32px;
        border-right: 4px solid #222;
        border-top: 4px solid #222;
        transform: rotate(45deg);
      }

      @media (max-width: 1400px) {
        top: -90px;
        left: auto;
        right: 6px;
      }
    }
    .owl-prev {
      position: absolute;
      top: 100px;
      right: 103.5%;

      span {
        display: block;
        font-size: 0;
        width: 32px;
        height: 32px;
        border-left: 4px solid #222;
        border-bottom: 4px solid #222;
        transform: rotate(45deg);
      }

      @media (max-width: 1400px) {
        top: -90px;
        right: auto;
        left: 6px;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 80px 0;
    text-align: center;
  }
}

/* dao info */
.dao-info {
  background-color: #251F31;
  padding: 160px 0 0;
  text-align: center;
  color: #fff;
  font-weight: 300;
  background-image: url('../images/bg-dao-info.svg');
  background-position: right top;
  background-repeat: no-repeat;

  a {
    color: #f5243d;
  }

  .dao-info__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
    line-height: 1em;

    @media (max-width: 767px) {
      font-size: 35px;
    }
  }

  .dao-info__subtitle {
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .dao-info__text {
    max-width: 670px;
    margin: 0 auto;
  }
  @media (max-width: 767px) {
    padding-top: 80px;
  }
}


/* dao statistics*/
.dao {
  background-color: #251F31;
  padding: 160px 0 98px;
  text-align: center;
  color: #fff;

  .dao__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 102px;

    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 76px;
    }
  }
  .dao__item {
    width: 370px;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin-bottom: 47px;

    .dao__icon-wrap {
      width: 136px;
      height: 136px;
      line-height: 136px;
      margin: 0 auto 54px;
      background-color: $accent-color;
      box-shadow: 0 0 0 13px #D40D2633, 0 0 0 26px #D40D2633;
      border-radius: 50%;
      text-align: center;

      .dao__icon {
        height: 105px;
        vertical-align: middle;

        @media (max-width: 767px) {
          height: 76px;
        }
      }

      @media (max-width: 767px) {
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto 48px;
        box-shadow: 0 0 0 8px #D40D2633, 0 0 0 16px #D40D2633;
      }
    }
    .dao__item-header {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.04em;

      @media (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 15px;
      }
    }
    .dao__counter {
      font-size: 45px;

      @media (max-width: 767px) {
        font-size: 35px;
      }
    }

    @media (max-width: 767px) {
      width: 46%;
      min-width: 150px;
      padding: 10px;
      margin-bottom: 77px;
    }
  }

  @media (max-width: 767px) {
    padding: 99px 0 18px;
    text-align: center;
  }
}

.calls {
  padding: 160px 0 143px;
  text-align: center;

  .calls__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 35px;
      line-height: 1.3em;
      margin-bottom: 15px;
    }
  }
  .calls__description {
    font-size: 18px;
    max-width: 920px;
    margin: 0 auto 60px;
    line-height: 1.8em;
  }
  .calls__table {
    box-shadow: 0 8px 15px #0002;
    margin-bottom: 71px;

    .calls__table-frame {
      width: 100%;
      height: 650px;
      display: block;
    }
  }
  .calls__btn {
    display: inline-block;
    background-color: #000;
    border-radius: 11px;

    .calls__btn-img {
      width: 187px;
      height: 55px;
      display: block;
    }
  }

  @media (max-width: 767px) {
    padding: 83px 0 80px;
  }
}


/* entervision */
.entervision {
  padding: 70px 0 170px;
  background-image: url('../images/bg-entervision.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  .entervision__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 65px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 35px;
    }
  }

  .entervision__left {
    width: 50%;
    float: left;
    @extend %column__padding;

    @media (max-width: 767px) {
      width: 100%;
      float: none;
    }
  }

  .entervision__right {
    width: 50%;
    float: left;
    @extend %column__padding;

    @media (max-width: 767px) {
      width: 100%;
      float: none;
    }
  }

  .entervision__item {
    background-color: #2c273b;
    padding: 50px;
    line-height: 1.75em;
    box-shadow: 0 10px 40px #0000002e;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;

    .entervision__subheader {
      color: #f5243d;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 16px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }
  @media (max-width: 767px) {
   padding: 80px 0;
  }
}

/* milestones */
.milestones {
  background-color: #261f31;
  background-image: url('../images/bg-milestones.svg');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #fff;
  padding: 163px 0 20px;

  .milestones__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 90px;
    letter-spacing: 0.04em;

    @media (max-width: 767px) {
      font-size: 35px;
    }
  }
  .milestones__timeline {
    position: relative;
    padding: 1px 0 30px;
    @extend %clearfix;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      top: 200px;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      background-color: $accent-color;

      @media (max-width: 767px) {
        top: 20px;
        width: 4px;
        margin-left: -2px;
      }
    }


    .milestones__item {
      background-color: #2c273b;
      padding: 50px;
      width: 40%;
      line-height: 1.75em;
      position: relative;
      margin-bottom: 80px;
      float: left;
      box-shadow: 0 10px 40px #0000002e;

      .milestones__icon {
        width: 120px;
        margin-bottom: 20px;
      }
      .milestones__header {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        margin-bottom: 18px;
        line-height: 1.3em;

        @media (max-width: 767px) {
          font-size: 22px;
          letter-spacing: 0.03em;
        }
      }

      &.milestones__item--left {

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 25%;
          height: 2px;
          top: 50%;
          bottom: 0;
          left: 100%;
          background-color: $accent-color;

          @media (max-width: 767px) {
            display: none;
          }
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 125%;
          margin-top: -10px;
          margin-left: -10px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 40px #fff;

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      &.milestones__item--right {
        float: right;

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 25%;
          height: 2px;
          top: 50%;
          bottom: 0;
          right: 100%;
          background-color: $accent-color;
          @media (max-width: 767px) {
            display: none;
          }
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          right: 125%;
          margin-top: -10px;
          margin-right: -10px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 40px #fff;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      &.milestones__item--top-margin {
        margin-top: 200px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 767px) {
        width: 100%;
        float: none !important;
        margin-top: 0 !important;
        padding: 35px;
        margin-bottom: 30px;
      }
    }
  }

  .milestones__goal-wrap {
    text-align: center;
    width: 30%;
    float: right;
    margin-right: 35%;
    @extend %column__padding;

    .milestones__goal {
      width: 110px;
      height: 110px;
      background-color: $accent-color;
      box-shadow: 0 0 20px $accent-color;
      border-radius: 50%;
      font-weight: bold;
      padding: 38px 20px;
      line-height: 1.2em;
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      margin: 0 0 30px;
    }
  }
  .milestones__image-wrap {
    width: 35%;
    float: left;
    margin-top: -114px;
    margin-bottom: -100px;

    .milestones__image {
      max-width: 100%;

      @media (max-width: 767px) {
        width: 80%;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      margin: 0 0 -100px;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    padding: 90px 0 0;
  }
}

/* partners */
.partners {
  padding: 197px 0 242px;
  text-align: center;

  .partners__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 49px;

    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 25px;
    }
  }
  .partners__description {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 72px;
    line-height: 1.8em;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .partners__link {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
    filter: grayscale(1);
    opacity: 0.5;
    @include transition(.2s);

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }

    @media (max-width: 767px) {
      width: 80%;
      margin-bottom: 50px;
    }
  }
  .partners__logo {
    max-width: 225px;
    max-height: 125px;
  }
  @media (max-width: 767px) {
    padding: 140px 0 100px;
  }
}

/* contacts */
.contacts {
  text-align: center;
  color: #fff;
  background-color: #2D273B;
  padding: 161px 0;
  font-size: 18px;

  .form__header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;

    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 30px;
    }
  }
  .form__description {
    margin-bottom: 50px;

    @media (max-width: 767px) {
      margin-bottom: 35px;
      font-size: 15px;
    }
  }
  .form__field {
    position: relative;
    max-width: 730px;
    margin: 0 auto;

    .form__input {
      width: 100%;
      border-radius: 40px;
      border: none;
      height: 65px;
      padding: 0 230px 0 35px;
      font-size: 18px;

      @media (max-width: 767px) {
        margin-bottom: 15px;
        padding: 0 35px;
      }
    }
    .form__btn {
      @extend %btn;
      width: 200px;
      text-align: center;
      border-radius: 0 40px 40px 0;
      height: 65px;
      position: absolute;
      top: 0;
      right: -1px;
      white-space: nowrap;
      padding: 10px;
      font-size: 16px;
      line-height: 45px;

      .form__btn-img {
        vertical-align: middle;
        margin-right: 4px;
      }
      @media (max-width: 767px) {
        position: static;
        width: 100%;
        border-radius: 40px;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 90px 0;
  }
}

.footer {
  color: #b3b0bb;
  background-color: #251F31;
  padding: 94px 0;
  border-top: 1px solid #979797;

  .footer__left {
    @extend %column__padding;
    width: 37%;
    float: left;

    .footer__header {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 400;
      letter-spacing: 0.04em
    }

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      margin-bottom: 30px;
    }
  }
  .footer__center {
    width: 30%;
    float: right;
    text-align: center;

    @media (max-width: 767px) {
      width: 70%;
      float: none;
      margin: 0 auto 30px;
    }
  }
  .footer__right {
    @extend %column__padding;
    width: 30%;
    float: right;
    text-align: right;

    .footer__logo-link {
      cursor: pointer;
      width: 264px;
      display: inline-block;
      margin-bottom: 51px;

      .footer__logo {
        max-width: 100%;
      }

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
    .footer__social-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 15px;

      .footer__social-icon {
        max-width: 100%;
      }

      @media (max-width: 767px) {
        margin: 0 8x 4px;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 65px;
    }
  }

  @media (max-width: 767px) {
    padding: 72px 0;
  }
}

/* floating box */
.floating-box {
  width: 196px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 11;
  color: #fff;
  background: $accent-color;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px #e4112a88;

  .floating-box__close {
    position: absolute;
    top: -8px;
    right: -8px;
    border: none;
    cursor: pointer;
    background: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 15px;
    font-weight: bold;
    color: #D40D26;
    }
  .floating-box__header {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
    }
  .floating-box__link {
    @extend %btn-white;
    width: 100%;
    margin-bottom: 8px;
    padding: 6px 15px;
    font-size: 14px;
    }
  }


  /**
   * Modal FORM
   */

  /* 1. Ensure this sits above everything when visible */
  .modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;

    .modal__overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 0%, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .modal__wrapper {
      position: fixed;
      z-index: 9999;
      top: 6em;
      left: 50%;
      width: 40vw;
      margin-left: -20vw;
      background-color: #fff;
      border-radius: 14px;
      padding: 40px;
      box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);

      .modal__heading {
        font-size: 35px;
        line-height: 1em;
        margin-bottom: 20px;
        color: #251F31;
      }
    }
    .modal__transition {
      transition: all 0.3s 0.12s;
      transform: translateY(-10%);
      opacity: 0;
    }
    .modal__close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      font-size: 18px;
      line-height: 1em;
      color: #16131d;
      background: none;
      border: 0;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }
    &.is-visible {
      visibility: visible;

      .modal__overlay {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
      .modal__transition {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

/* VIDEO POPUP */
#video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 995;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
#video-popup-container {
  display:none;
  position: fixed;
  z-index: 996;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  top: 20%;
  background-color: #fff;

  #video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 998;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    line-height: 25px;
    color: #fff;

    #video-popup-close:hover {
      color: #DE0023;
    }
  }

  #video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 56.25%;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000;

    #video-popup-iframe {
      z-index: 999;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #000;
    }
  }

  @media(max-width: 767px) {
    width: 90%;
    margin-left: -45%;
  }
}





/* SUBS FORM */
.subs-form {
  font-size: 16px;
  line-height: 1.4em;
  color: #7f7f7f;

  p {
    margin-bottom: 10px;
  }
  a {
    color: $accent-color;
  }
  .subs-form__fieldset {
    border: none;
  }
  .subs-form__input {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 30px;
    border: 1px solid #c6c4d2;
    font-size: 18px;
    padding: 5px 24px;
    margin-bottom: 15px;
  }
  .subs-form__checkbox-wrap {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
  .subs-form__checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom;
  }
  .subs-form__button {
    @extend %btn;
    margin-top: 10px;
  }

}
